<!-- <app-header (featureSelected)="OnNavigate($event)"></app-header> USED IN OTHER IMPLEMENTATION along with *ngIf, no longer necessary-->
<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--LOAD PAGES WITH ROUTES-->
            <router-outlet></router-outlet>
            
            <!--LOAD PAGES WITH NGIF STATEMENTS-->
            <!-- <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
            <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list> -->
        </div>
    </div>
</div>